@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);*/

/*
 * @author:		Angelo Dini
 * @copyright:	http://www.divio.ch
 */
.container_24 {
    margin-left: auto;
    margin-right: auto;
    width: 720px
}

.container_24 .grid_1, .container_24 .grid_2, .container_24 .grid_3, .container_24 .grid_4, .container_24 .grid_5, .container_24 .grid_6, .container_24 .grid_7, .container_24 .grid_8, .container_24 .grid_9, .container_24 .grid_10, .container_24 .grid_11, .container_24 .grid_12, .container_24 .grid_13, .container_24 .grid_14, .container_24 .grid_15, .container_24 .grid_16, .container_24 .grid_17, .container_24 .grid_18, .container_24 .grid_19, .container_24 .grid_20, .container_24 .grid_21, .container_24 .grid_22, .container_24 .grid_23, .container_24 .grid_24 {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px
}

.container_24 .grid_1 {
    width: 20px
}

.container_24 .grid_2 {
    width: 50px
}

.container_24 .grid_3 {
    width: 80px
}

.container_24 .grid_4 {
    width: 110px
}

.container_24 .grid_5 {
    width: 140px
}

.container_24 .grid_6 {
    width: 170px
}

.container_24 .grid_7 {
    width: 200px
}

.container_24 .grid_8 {
    width: 230px
}

.container_24 .grid_9 {
    width: 260px
}

.container_24 .grid_10 {
    width: 290px
}

.container_24 .grid_11 {
    width: 320px
}

.container_24 .grid_12 {
    width: 350px
}

.container_24 .grid_13 {
    width: 380px
}

.container_24 .grid_14 {
    width: 410px
}

.container_24 .grid_15 {
    width: 440px
}

.container_24 .grid_16 {
    width: 470px
}

.container_24 .grid_17 {
    width: 500px
}

.container_24 .grid_18 {
    width: 530px
}

.container_24 .grid_19 {
    width: 560px
}

.container_24 .grid_20 {
    width: 590px
}

.container_24 .grid_21 {
    width: 620px
}

.container_24 .grid_22 {
    width: 650px
}

.container_24 .grid_23 {
    width: 680px
}

.container_24 .grid_24 {
    width: 710px
}

.container_24 .prefix_1 {
    padding-left: 30px
}

.container_24 .prefix_2 {
    padding-left: 60px
}

.container_24 .prefix_3 {
    padding-left: 90px
}

.container_24 .prefix_4 {
    padding-left: 120px
}

.container_24 .prefix_5 {
    padding-left: 150px
}

.container_24 .prefix_6 {
    padding-left: 180px
}

.container_24 .prefix_7 {
    padding-left: 210px
}

.container_24 .prefix_8 {
    padding-left: 240px
}

.container_24 .prefix_9 {
    padding-left: 270px
}

.container_24 .prefix_10 {
    padding-left: 300px
}

.container_24 .prefix_11 {
    padding-left: 330px
}

.container_24 .prefix_12 {
    padding-left: 360px
}

.container_24 .prefix_13 {
    padding-left: 390px
}

.container_24 .prefix_14 {
    padding-left: 420px
}

.container_24 .prefix_15 {
    padding-left: 450px
}

.container_24 .prefix_16 {
    padding-left: 480px
}

.container_24 .prefix_17 {
    padding-left: 510px
}

.container_24 .prefix_18 {
    padding-left: 540px
}

.container_24 .prefix_19 {
    padding-left: 570px
}

.container_24 .prefix_20 {
    padding-left: 600px
}

.container_24 .prefix_21 {
    padding-left: 630px
}

.container_24 .prefix_22 {
    padding-left: 660px
}

.container_24 .prefix_23 {
    padding-left: 690px
}

.container_24 .suffix_1 {
    padding-right: 30px
}

.container_24 .suffix_2 {
    padding-right: 60px
}

.container_24 .suffix_3 {
    padding-right: 90px
}

.container_24 .suffix_4 {
    padding-right: 120px
}

.container_24 .suffix_5 {
    padding-right: 150px
}

.container_24 .suffix_6 {
    padding-right: 180px
}

.container_24 .suffix_7 {
    padding-right: 210px
}

.container_24 .suffix_8 {
    padding-right: 240px
}

.container_24 .suffix_9 {
    padding-right: 270px
}

.container_24 .suffix_10 {
    padding-right: 300px
}

.container_24 .suffix_11 {
    padding-right: 330px
}

.container_24 .suffix_12 {
    padding-right: 360px
}

.container_24 .suffix_13 {
    padding-right: 390px
}

.container_24 .suffix_14 {
    padding-right: 420px
}

.container_24 .suffix_15 {
    padding-right: 450px
}

.container_24 .suffix_16 {
    padding-right: 480px
}

.container_24 .suffix_17 {
    padding-right: 510px
}

.container_24 .suffix_18 {
    padding-right: 540px
}

.container_24 .suffix_19 {
    padding-right: 570px
}

.container_24 .suffix_20 {
    padding-right: 600px
}

.container_24 .suffix_21 {
    padding-right: 630px
}

.container_24 .suffix_22 {
    padding-right: 660px
}

.container_24 .suffix_23 {
    padding-right: 690px
}

.container_24 .alpha {
    margin-left: 0
}

.container_24 .omega {
    margin-right: 0
}

.container_24 .push_1, .container_24 .push_2, .container_24 .push_3, .container_24 .push_4, .container_24 .push_5, .container_24 .push_6, .container_24 .push_7, .container_24 .push_8, .container_24 .push_9, .container_24 .push_10, .container_24 .push_11, .container_24 .push_12, .container_24 .push_13, .container_24 .push_14, .container_24 .push_15, .container_24 .push_16, .container_24 .push_17, .container_24 .push_18, .container_24 .push_19, .container_24 .push_20, .container_24 .push_21, .container_24 .push_22, .container_24 .push_23, .container_24 .pull_1, .container_24 .pull_2, .container_24 .pull_3, .container_24 .pull_4, .container_24 .pull_5, .container_24 .pull_6, .container_24 .pull_7, .container_24 .pull_8, .container_24 .pull_9, .container_24 .pull_10, .container_24 .pull_11, .container_24 .pull_12, .container_24 .pull_13, .container_24 .pull_14, .container_24 .pull_15, .container_24 .pull_16, .container_24 .pull_17, .container_24 .pull_18, .container_24 .pull_19, .container_24 .pull_20, .container_24 .pull_21, .container_24 .pull_22, .container_24 .pull_23 {
    position: relative
}

.container_24 .push_1 {
    left: 30px
}

.container_24 .pull_1 {
    left: -30px
}

.container_24 .push_2 {
    left: 60px
}

.container_24 .pull_2 {
    left: -60px
}

.container_24 .push_3 {
    left: 90px
}

.container_24 .pull_3 {
    left: -90px
}

.container_24 .push_4 {
    left: 120px
}

.container_24 .pull_4 {
    left: -120px
}

.container_24 .push_5 {
    left: 150px
}

.container_24 .pull_5 {
    left: -150px
}

.container_24 .push_6 {
    left: 180px
}

.container_24 .pull_6 {
    left: -180px
}

.container_24 .push_7 {
    left: 210px
}

.container_24 .pull_7 {
    left: -210px
}

.container_24 .push_8 {
    left: 240px
}

.container_24 .pull_8 {
    left: -240px
}

.container_24 .push_9 {
    left: 270px
}

.container_24 .pull_9 {
    left: -270px
}

.container_24 .push_10 {
    left: 300px
}

.container_24 .pull_10 {
    left: -300px
}

.container_24 .push_11 {
    left: 330px
}

.container_24 .pull_11 {
    left: -330px
}

.container_24 .push_12 {
    left: 360px
}

.container_24 .pull_12 {
    left: -360px
}

.container_24 .push_13 {
    left: 390px
}

.container_24 .pull_13 {
    left: -390px
}

.container_24 .push_14 {
    left: 420px
}

.container_24 .pull_14 {
    left: -420px
}

.container_24 .push_15 {
    left: 450px
}

.container_24 .pull_15 {
    left: -450px
}

.container_24 .push_16 {
    left: 480px
}

.container_24 .pull_16 {
    left: -480px
}

.container_24 .push_17 {
    left: 510px
}

.container_24 .pull_17 {
    left: -510px
}

.container_24 .push_18 {
    left: 540px
}

.container_24 .pull_18 {
    left: -540px
}

.container_24 .push_19 {
    left: 570px
}

.container_24 .pull_19 {
    left: -570px
}

.container_24 .push_20 {
    left: 600px
}

.container_24 .pull_20 {
    left: -600px
}

.container_24 .push_21 {
    left: 630px
}

.container_24 .pull_21 {
    left: -630px
}

.container_24 .push_22 {
    left: 660px
}

.container_24 .pull_22 {
    left: -660px
}

.container_24 .push_23 {
    left: 690px
}

.container_24 .pull_23 {
    left: -690px
}

.nomobile {
    display: block
}

.notablet {
    display: none
}

.mobile_only {
    display: none
}

.header {
    position: relative;
    margin: 0
}

.header .grid_24 {
    position: relative
}

.header .logo_main {
    position: absolute;
    bottom: 44px;
    left: 0;
    margin: 0
}

.header .logo_main a {
    width: 100px;
    height: 22px;
    background-position: top left;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    margin: 0;
    float: left;
    display: block
}

.navsection {
    margin-top: 35px;
    padding: 0
}

.navsection .mainnav {
    display: block
}

.navsection .mainnav ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none
}

.navsection .mainnav li {
    margin: 0 2px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-family: "Lato", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;

}

.navsection .mainnav li a {
    margin: 0;
    padding: 4px 10px 5px 10px;
    color: #e5e5e5;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-size: 24px ;
    text-decoration: none
}

.navsection .mainnav li a:active {
    position: relative;
    top: 1px
}

.navsection .mainnav li:hover a, .navsection .mainnav li.selected a {
    color: #fff
}

.navsection .mainnav li.active, .navsection .mainnav li.selected a {
    background: #082f4d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

.navsection .mainnav li.active:active, .navsection .mainnav li.selected a:active {
    top: 0
}

.navsection .mainnav .btn {
    font-size: 12px
}

.navsection .mobilenav {
    display: none
}

.pagetitle p, .pagetitle h1, .pagetitle h2, .pagetitle h3, .pagetitle h4 {
    padding-top: 40px;
    margin: 0 0 20px 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)
}

.feature {
    padding: 0
}

.feature_overflow {
    margin-bottom: 40px
}

.feature_home {
    padding-top: 40px;
    text-align: left;
    background-image: url("../img/feature_bg_blue_small.png");
    background-position: 40% 100%
}

.feature_home .feature_grid {
    height: 210px
}

.feature_home .intro {
    margin-top: 25px;
    font-size: 17px;
    line-height: 23px;
    color: #ebebeb
}

.feature_home .feature_img {
    position: absolute;
    top: 15px;
    right: -15px;
    width: 380px;
    height: 222px
}

.feature_home .buttons {
    position: absolute;
    bottom: -20px;
    left: 0
}

.feature_home .buttons .btn_large {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 10px
}

.feature_home .buttons .btn_second {
    margin-top: 0;
    margin-bottom: 0
}

.feature_home .buttons .btn_shadow {
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    height: 10px;
    background: url("../img/btn_large_shadow.png") center no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3
}

.feature_home .buttons .btn_large_second .btn_shadow {
    background-image: url("../img/btn_large_shadow_wide.png")
}

.feature_home .download {
    width: auto
}

.feature_home .download .dl_container {
    width: 295px;
    padding: 12px 16px
}

.footer {
    margin-top: 60px
}

.footer .alpha {
    margin-bottom: 0
}

.frm input[type="text"], .frm input[type="password"], .frm input[type="email"], .frm input[type="search"], .frm input[type="tel"], .frm input[type="url"], .frm textarea, .frm .input_text, .frm .checkbox, .frm .radio {
    width: 96%;
    padding: 9px 2% 8px 2%
}

.frm input[type="submit"] {
    width: auto
}

.frm select {
    width: auto
}

.frm_basic input[type="text"], .frm_basic input[type="password"], .frm_basic input[type="email"], .frm_basic input[type="search"], .frm_basic input[type="tel"], .frm_basic input[type="url"], .frm_basic .input_text, .frm_basic .checkbox, .frm_basic .radio {
    width: 400px
}

.frm_basic .captcha {
    position: relative;
    top: 13px;
    margin-right: 10px
}

.frm_basic input#id_captcha_1 {
    width: 305px
}

.frm_basic .frm_title {
    width: 420px
}

.frm_website input[type="text"], .frm_website input[type="password"], .frm_website input[type="email"], .frm_website input[type="search"], .frm_website input[type="tel"], .frm_website input[type="url"], .frm_website textarea, .frm_website .input_text {
    width: 18%;
    margin-right: 11px
}

.btn_medium, .btn_large {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

#main {
    margin-top: 30px
}

.multicolumn .column {
    float: left
}

.column_inner {
    padding: 0 10px
}

.multicolumn .column_first .column_inner {
    padding-left: 0
}

.multicolumn .column_last .column_inner {
    padding-right: 0
}

.linetitle {
    margin: 40px auto 25px
}

.box_padding {
    width: auto;
    padding: 20px
}

.key_features ul {
    margin: 0;
    padding: 20px 20px 10px 20px
}

.big_hint {
    margin-top: 40px;
    padding: 15px 20px;
    font-size: 19px;
    line-height: 24px
}

.big_hint_illustrated {
    padding: 25px 100px 25px 200px
}

.big_hint_illustrated {
    background-position: 70px center
}

.companies a {
    width: 16%;
    margin-bottom: 0;
    padding: 10px
}

.teaser_big {
    margin-top: 40px;
    padding: 25px 45% 30px 40px;
    background-repeat: no-repeat
}

.teaser_big .teaser_title {
    font-size: 30px;
    line-height: 37px
}

.teaser_big ul {
    margin: 0
}

.teaser_big p {
    margin: 15px 0
}

.teaser_cloud_signup {
    background-image: url("../img/icons/icon_cloud_big.png");
    background-position: 90% 50%
}

.teaser_cloud_trial {
    background-image: url("../img/cloud_price.png");
    background-position: 90% 25%
}

.teaser_cloud_trial h2 {
    font-size: 25px;
    line-height: 32px
}

.teaser_cloud_trial .btn {
    position: absolute;
    top: 315px;
    right: 47px
}

.teaser_divio_contact {
    background-image: url("../img/man_power.png");
    background-position: 90% 30%
}

.teaser_djeese {
    background-image: url("../img/icons/icon_tool_big.png");
    background-position: 75% 50%
}

.teaser_help {
    background-image: url("../img/person_divio.png");
    background-position: 85% 20px;
    background-repeat: no-repeat
}

.feature .content {
    padding: 0 30px
}

.feature_home .feature_home_gallery {
    position: relative;
    top: 18px
}

.feature_home img {
    max-width: 100%
}

.feature_home .gallery_inner {
    position: absolute;
    overflow: hidden;
    top: 13px;
    left: 42px;
    width: 265px;
    height: 162px
}

.feature_case_study {
    padding: 100px 0 0 0
}

.feature_browser .browser_view {
    margin: 60px auto 35px auto
}

.feature_browser .browser_view .br_bar p {
    top: 2px;
    font-size: 12px
}

.feature_browser .browser_view .br_img {
    height: 150px
}

.feature_support {
    margin-bottom: 45px
}

.testimonial .nav_arrows .arrow_prev {
    left: 1%
}

.testimonial .nav_arrows .arrow_next {
    right: 1%
}

.testimonial .quote_box .author {
    padding-left: 12px;
    text-align: left
}

.cloud_key_features .grid_6>a {
    float: left;
    margin-bottom: 15px
}

.cloud_key_features .preview .overlay {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 97%;
    height: 95.5%;
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in
}

.cloud_key_features .preview .overlay_icon {
    position: relative;
    top: 45%;
    margin: -20px auto 0 auto;
    width: 40px;
    height: 40px;
    background: url("../img/icons/icon_loupe_white.png") center no-repeat;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in
}

.cloud_key_features .preview:hover .overlay {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}

.cloud_key_features .preview:hover .overlay .overlay_icon {
    top: 50%
}

.cloud_key_features h3, .cloud_key_features p {
    padding-left: 0
}

.invitation {
    top: -60px
}

.invitation input[type="text"] {
    width: 300px
}

.invitation input[type="submit"] {
    width: auto;
    margin: 0 0 0 5px
}

.invitation_thanks {
    margin-top: 60px !important
}

.linetitle.case_study_list {
    margin-right: 20px
}

.add-ons .top-hint {
    margin: 30px 0;
    padding-right: 50%
}

.add-ons .top-hint .btn {
    position: absolute;
    top: -9px;
    right: 0
}

.add-ons .featured_apps {
    margin-top: 40px
}

.add-ons .wrap_link .add-on .arrow {
    display: none
}

.add-ons .all_add-ons .add-on {
    padding: 14px 150px 14px 75px
}

.add-ons .pagination {
    padding: 2px 0 0
}

.add-ons .pagination a {
    float: none;
    padding: 3px 10px 0 10px;
    line-height: 22px
}

.add-ons .pagination a.active {
    padding: 3px 2px 0
}

.add-ons .add-on_preview .prev_head h2 {
    padding-right: 400px
}

.add-ons .add-on_preview .prev_head .prev_bar {
    position: absolute;
    top: 13px;
    right: 0
}

.add-ons .add-on_preview .prev_head .prev_bar a {
    margin-left: 20px
}

.add-ons .add-on_preview .prev_head .prev_bar .btn {
    position: relative;
    top: -5px
}

.add-ons .add-on_preview .prev_container {
    border: 1px solid #e6e6e6;
    background: #f2f2f2
}

.add-ons .add-on_preview .prev_container .prev_content {
    position: relative;
    float: left;
    width: 460px;
    padding: 3%;
    border-right: 1px solid #e6e6e6;
    background: #fff
}

.add-ons .add-on_preview .prev_container .prev_content img {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)
}

.add-ons .add-on_preview .prev_container .prev_side {
    position: relative;
    float: right;
    width: 130px;
    padding: 18px 15px
}

.add-ons .add-on_preview .prev_container .prev_side a {
    float: left;
    position: relative
}

.add-ons .add-on_preview .prev_container .prev_side a:active, .add-ons .add-on_preview .prev_container .prev_side a:focus {
    outline: none
}

.add-ons .add-on_preview .prev_container .prev_side img {
    float: left;
    margin-bottom: 5px;
    border: 3px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.12s ease-in;
    -moz-transition: all 0.12s ease-in;
    -o-transition: all 0.12s ease-in;
    transition: all 0.12s ease-in
}

.add-ons .add-on_preview .prev_container .prev_side img:hover, .add-ons .add-on_preview .prev_container .prev_side img:active, .add-ons .add-on_preview .prev_container .prev_side img:focus, .add-ons .add-on_preview .prev_container .prev_side img.active {
    border-color: #89badf
}

.add-ons .add-on_preview .prev_container .prev_side img.last {
    margin: 0
}

.add-ons .add-on_preview .prev_container .prev_side .prev_arrow {
    display: none;
    position: absolute;
    top: 30px;
    left: -24px;
    width: 9px;
    height: 15px;
    background: url("../img/prev_arrow.png") top left no-repeat
}

.ie7 .add-on_preview .prev_container .prev_side img, .ie8 .add-on_preview .prev_container .prev_side img {
    width: 180px
}

.blog_teaser, .blog_entry {
    margin-left: 0
}

.blog_teaser .blog_teaser_bar p, .blog_entry .blog_teaser_bar p {
    width: auto
}

.blog_teaser {
    margin-right: 15px
}

.sidebar .lower {
    margin-top: 45px
}

.gallery .wrapper {
    height: 289px
}

.gallery nav a.last {
    margin-right: 0;
    margin-left: 1px
}
